<%= form_with model: @review, url: driver_reviews_path, data: { turbo: false } do |form| %>
  <%= form.hidden_field :driver_id, value: @driver.id %>
  <%= form.hidden_field :ride_id, value: @ride.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.label :rating, "Rating", class: "flex gap-4 text-sm font-medium text-gray-700" %>
  <div class="flex space-x-1 mt-1">
    <% (1..5).each do |star| %>
      <label class="group hover:text-yellow-400 checked:text-yellow-400">
        <%= form.radio_button :rating, star, class: "peer" %>
        <%= lucide_icon('star') %>
      </label>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :comment, "Public Comment", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :comment, rows: 4, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %>
  </div>

  <%= form.submit "Submit Review", class: "inline-flex items-center px-4 py-2 bg-indigo-600 border border-transparent rounded-md text-white hover:bg-indigo-700" %>
<% end %>
