<div class="bg-white rounded-lg shadow-md p-6 border border-gray-200">
  <%= form_with(model: ride, html: { class: "space-y-6 w-full max-w-md mx-auto", data: { turbo: false } }) do |f| %>
    <%= f.hidden_field :driver_id, value: current_user.driver.id %>
    <%= f.hidden_field :status, value: :open %>

    <% if ride.errors.any? %>
      <div class="alert alert-error mb-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <span class="text-gray-500 flex items-center">
              <%= lucide_icon('alert-circle', class: 'h-5 w-5') %>
            </span>
          </div>
          <div class="ml-3">
            <h3 class="font-medium">Please fix the following errors:</h3>
            <ul class="mt-1 list-disc list-inside">
              <% ride.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class="alert mb-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <span class="text-dark flex items-center">
              <%= lucide_icon('info', class: 'h-5 w-5') %>
            </span>
          </div>
          <div class="ml-3">
            <p>
              Please provide details for your upcoming ride to help passengers plan their trip.
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <fieldset class="border border-gray-300 rounded-md p-5 bg-gray-50">
      <legend class="text-sm font-medium px-2">Trip Details</legend>
      <div class="grid grid-cols-2 gap-4">
        <div class="form-control">
          <%= f.label :leave_date, "Departure Date", class: "label" %>
          <%= f.date_field :leave_date, class: "input input-bordered p-3 w-full", value: ride.leave_date|| Date.today.next_day(6), min: Date.today %>
        </div>

        <div class="form-control">
          <%= f.label :leave_time, "Departure Time", class: "label" %>
          <%= f.time_field :leave_time, 
                 class: "input input-bordered p-3 w-full", 
                 value: ride.leave_time.present? ? ride.leave_time.strftime("%H:%M") : "06:30" %>
        </div>
      </div>
    </fieldset>

    <fieldset class="border border-gray-300 rounded-md p-5 bg-gray-50">
      <legend class="text-sm font-medium px-2">Pickup Location</legend>
      <div class="form-control mb-4">
        <%= f.label :address_line1, "Meetup Address", class: "label" %>
        <%= f.text_field :address_line1, class: "input input-bordered p-3 w-full" %>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="form-control">
          <%= f.label :city, "City", class: "label" %>
          <%= f.text_field :city, class: "input input-bordered p-3 w-full" %>
        </div>

        <div class="form-control">
          <%= f.label :state, "State", class: "label" %>
          <%= f.text_field :state, value: "CO", class: "input input-bordered p-3 w-full" %>
        </div>

        <div class="form-control">
          <%= f.label :zip_code, "ZIP Code", class: "label" %>
          <%= f.text_field :zip_code, class: "input input-bordered p-3 w-full" %>
        </div>
      </div>
    </fieldset>

    <fieldset class="border border-gray-300 rounded-md p-5 bg-gray-50">
      <legend class="text-sm font-medium px-2">Trip Information</legend>
      <div class="form-control mb-4">
        <%= f.label :destination, "Destination", class: "label" %>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-500 flex items-center z-1">
              <%= lucide_icon('map-pin', class: 'h-5 w-5 text-gray-400') %>
            </span>
          </div>
          <%= f.select :destination, destinations_for_select, { include_blank: "Select a destination" }, { class: "select select-bordered pl-10 w-full" } %>
        </div>
      </div>

      <div class="form-control mb-4" data-controller="cost-formatter">
        <%= f.label :cost_per_rider_in_cents, "Cost Per Rider", class: "label" %>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-500 flex items-center z-1">
              <%= lucide_icon('dollar-sign', class: 'h-5 w-5 text-gray-400') %>
            </span>
          </div>
          <%= f.text_field :cost_per_rider, 
                           class: "input input-bordered pl-10 p-3 w-full", 
                           value: humanized_money_with_symbol(ride.cost_per_rider) || humanized_money_with_symbol(5), 
                           data: { 
                            action: "change->cost-formatter#formatCurrency" 
                           } %>
        </div>
      </div>

      <div class="form-control">
        <%= f.label :available_seats, "Available Seats", class: "label" %>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-500 flex items-center z-1">
              <%= lucide_icon('users', class: 'h-5 w-5 text-gray-400') %>
            </span>
          </div>
          <%= f.number_field :available_seats, class: "input input-bordered pl-10 w-full", min: 1, max: 10 %>
        </div>
      </div>
    </fieldset>

    <div class="form-control mt-6">
      <%= f.submit class: "btn btn-primary w-full" %>
    </div>
  <% end %>
</div>
