<div class="card border border-gray-200 bg-base-100 shadow-md w-full">
  <div class="card-body">
    <h2 class="card-title flex justify-between items-center">
      <span>To <%= ride.destination %></span>
    </h2>

    <h4 class="text-gray-600 flex items-center gap-1">
      <span class="tooltip tooltip-top" data-tip="Departure Date">
        <%= lucide_icon('calendar') %>
      </span>
      <%= ride.leave_date_time %>
    </h4>

    <h4 class="text-gray-600 flex items-center gap-1">
      <span class="tooltip tooltip-top" data-tip="Driver">
        <%= lucide_icon('user') %>
      </span>

      <a href="<%= driver_path(ride.driver.id) %>" class="text-secondary hover:underline font-medium">
        <%= ride.driver.user.full_name %>
      </a>

      <span class="tooltip tooltip-top" data-tip="<%= ride.driver.user.gender_full.titleize %>">
        <%= ride.driver.user.gender %>
      </span>
      <span>
        (<%= ride.driver.user.age %> yrs)
      </span>
    </h4>

    <h4 class="text-gray-600 items-center flex items-center gap-1">
      <div class="tooltip tooltip-top" data-tip="Meetup location">
        <%= lucide_icon('map-pin') %>
      </div>
      <%= ride.meetup_location %>
    </h4>

    <h3 class="text-lg font-semibold text-secondary flex items-center gap-1">
      <div class="tooltip tooltip-top font-normal" data-tip="Cost per rider">
        <%= lucide_icon('dollar-sign') %>
      </div>
      <%= humanized_money_with_symbol(ride.cost_per_rider) %> /seat
    </h3>

    <div class="text-sm text-gray-500 flex items-center gap-1">
      <div class="tooltip tooltip-top" data-tip="Available seats">
        <%= lucide_icon('luggage') %>
      </div>
      <%= pluralize(ride.available_seats, "Seat") %>
    </div>

    <% if current_user&.driver_of?(ride) && ride.can_edit? %>
      <%= render 'passenger_info', ride: %>

      <%= link_to edit_ride_path(ride_id: ride), class: 'btn btn-neutral w-full hover:scale-105 transition-all' do  %>
        <%= lucide_icon('pencil') %>
        Edit
      <% end %>
    <% else %>
      <%= link_to new_trip_path(ride_id: ride), class: 'btn btn-primary w-full hover:scale-105 transition-all' do  %>
        <%= lucide_icon('check-circle') %>
        Book Now!
      <% end %>
    <% end %>
  </div>
</div>
