<div class="card border border-gray-200 bg-base-100 shadow-md w-full">
  <div class="card-body">
    <h2 class="card-title flex justify-between items-center hover:text-secondary hover:underline">
      <%= link_to "To #{ride.destination.titleize}", ride_path(ride) %>
    </h2>

    <h4 class="text-gray-600 flex items-center gap-1">
      <span class="tooltip tooltip-top" data-tip="Departure Date">
        <%= lucide_icon('calendar') %>
      </span>
      <%= ride.leave_date_time %>
    </h4>

    <%= render 'components/driver_info', driver: ride.driver %>

    <div class="text-gray-600 flex items-center gap-1">
      <div class="tooltip tooltip-top" data-tip="Meetup location">
        <%= lucide_icon('map-pin') %>
      </div>
      <%= link_to ride.meetup_location, "http://maps.google.com/?q=#{ride.meetup_location}", class: 'link', target: "_blank" %>
    </div>

    <h3 class="text-lg font-semibold text-secondary flex items-center gap-1">
      <div class="tooltip tooltip-top font-normal" data-tip="Cost per rider">
        <%= lucide_icon('dollar-sign') %>
      </div>
      <%= humanized_money_with_symbol(ride.cost_per_rider) %> /seat
    </h3>

    <div class="text-sm text-gray-500 flex items-center gap-1">
      <div class="tooltip tooltip-top" data-tip="Available seats">
        <%= lucide_icon('luggage') %>
      </div>
      <%= pluralize(ride.available_seats, "Seat") %>
    </div>

    <% if current_user&.driver_of?(ride) %>
      <%= render 'passenger_info', ride: %>

      <% if ride.can_edit? %>
        <%= link_to edit_ride_path(ride), class: 'btn btn-neutral w-full hover:scale-105 transition-all' do  %>
          <%= lucide_icon('pencil') %>
          Edit
        <% end %>
      <% end %>
      <%= button_to complete_reservation_path(ride, ride_id: ride), class: 'btn btn-primary w-full hover:scale-105 transition-all', method: :patch, data: { turbo: false } do %>
        <%= lucide_icon('car') %>

        <span>Ride Completed</span>
      <% end %>
    <% else %>
      <%= link_to new_ride_reservation_path(ride_id: ride), class: 'btn btn-primary w-full hover:scale-105 transition-all' do  %>
        <%= lucide_icon('check-circle') %>
        Book Now!
      <% end %>
    <% end %>
  </div>
</div>
