<div class="card border border-gray-200 bg-base-100 shadow-md w-full">
  <div class="card-body">
    <h2 class="card-title flex justify-between items-center">
      <span>Ride to <%= ride.destination %></span>

      <div class="badge <%= ride.status == 'open' ? 'badge-secondary' : 'badge-accent' %>">
        <%= ride.status.capitalize %>
      </div>
    </h2>

    <h4 class="text-gray-600 flex items-center gap-1">
      <span class="tooltip tooltip-top" data-tip="Departure Date">
        <%= lucide_icon('calendar') %>
      </span>
      <%= ride.leave_date.strftime('%b %d, %Y @ %l:%M %p') %>
    </h4>

    <h4 class="text-gray-600 flex items-center gap-1">
      <span class="tooltip tooltip-top" data-tip="Driver">
        <%= lucide_icon('user') %>
      </span>

      <a href="<%= drivers_path(ride.driver) %>" class="text-primary hover:underline font-medium">
        <%= ride.driver.user.full_name %>
      </a>

      <span class="tooltip tooltip-top" data-tip="<%= ride.driver.user.gender_full.titleize %>">
        <%= ride.driver.user.gender %>
      </span>
      <span>
        (<%= ride.driver.user.age %> yrs)
      </span>
    </h4>

    <h4 class="text-gray-600 items-center flex items-center gap-1">
      <div class="tooltip tooltip-top" data-tip="Meetup location">
        <%= lucide_icon('map-pin') %>
      </div>
      <%= ride.meetup_location %>
    </h4>

    <h3 class="text-lg font-semibold text-secondary flex items-center gap-1">
      <div class="tooltip tooltip-top" data-tip="Cost per rider">
        <%= lucide_icon('dollar-sign') %>
      </div>
      <%= humanized_money_with_symbol(ride.cost_per_rider) %> /seat
    </h3>

    <div class="text-sm text-gray-500 flex items-center gap-1">
      <div class="tooltip tooltip-top" data-tip="Available seats">
        <%= lucide_icon('luggage') %>
      </div>
      <%= pluralize(ride.available_seats, "Seat") %>
    </div>

    <%= link_to new_ride_booking_path(ride), class: 'btn btn-primary w-full hover:scale-105 transition-all' do  %>
      <%= lucide_icon('check-circle') %>
      Book Now!
    <% end %>
  </div>
</div>
