<!DOCTYPE html>
<html>
  <head>
    <title>DayTrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8W9ZDJ6D77"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8W9ZDJ6D77');
    </script>
  </head>
  <body class="min-h-screen flex flex-col">
    <% if flash.any? %>
      <%= render 'components/flash_messages' %>
    <% end %>
    <%= render 'components/nav_bar' %>
    <main class="bg-base-200 relative custom-bg flex-1">
      <%= yield %>
    </main>
    <%= render 'components/footer' %>
  </body>
</html>
