<!DOCTYPE html>
<html>
  <head>
    <title>DayTrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <%= render 'components/flash_messages' %>
    <% end %>
    <main class="bg-base-200 relative custom-bg min-h-screen">
      <%= render 'components/nav_bar' %>
      <%= yield %>
      <%= render 'components/footer' %>
    </main>
  </body>
</html>
